body{

}
.spoon{
  width: 200px;
  margin: auto;
  position: relative;
  top: 200px
  bottom: 200px;
  transition: all 800ms ease 0s;
}

.spoon:hover {
  transform: rotate(540deg) ;
 
}


.egg {
      display: block;
      width: 126px;
      height: 180px;
      background-color: grey;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    } 
    .egg:hover {
      background-color: blue
    }

.handle {
 	  width: 30px;
  	height: 400px;
  	background: grey;
    margin: auto;
    position: relative;
    right: 38px;
    bottom: 40px;
    border-radius: 1000%/50%
	}
  .handle:hover {
      background-color: blue
    }
  
