@font-face {
  font-family: "Migra";
  src: url("fonts/Migra-Extrabold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Migra";
  src: url("fonts/MigraItalic-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Migra";
  src: url("fonts/Migra-Extralight.ttf") format("truetype");
  font-weight: normal;
}

body{
	font-family: 'Migra', sans-serif;
	font-weight: normal;
	font-size: 18px;
	margin: 0;
}


main{
	margin: 1rem;
	width: 70%;
	margin: auto;
}

h1,h2 {
	font-family: "Migra", serif;
	font-weight: 800;
	font-style: italic;
}

h3 {
	font-family: "Migra", serif;
	font-weight: 800;
}

/*.h3:hover{
	background color: #99CADD;
}*/

.box{
	background-color: #D2EE58;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 100px;
	width: 110px;
}

.box:last-child {
	flex-grow: 4;
	background-color: #D2EE58;
	text-align: center;
}

.cell{
	border: 1px solid black;
	box-sizing: border-box;
	flex: 1;
	justify-content: center;
	padding: 0.5em;
	height: 150px;
}

.banner{
	height: 150px;
	overflow: hidden;

}
.birdimg{
	width: 100%;
	margin-top: -120px;
}

/*#spoonbill .birdimg{
	margin-top: -120px;
}*/
#spoonbill .birdname{
	background-color: #f6ba6e;
}
#spoonbill .cell{
	background-color: #f6ba6e;
}

#gull .birdname, #gull .cell{
	background-color: #bac0d0;
}


.spoonbill{
	background-color: #f6ba6e;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill1{
	background-color: #bac0d0;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill2{
	background-color: #fce346;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill3{
	background-color: #ef9f87;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill4{
	background-color: #c6b7a0;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill5{
	background-color: #fba07d;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 0.5em;
	height: 150px;
}

.spoonbill: first-child{
	width: 150px;
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	height: 20vh;
}

.space{
	padding-bottom: 30px
}

.div{
	padding-bottom: 150px
}

.crop {
    width: 800px; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
}

.cropped1 {
    width: 773px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
}

.cropped2 {
    width: 787px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 30%;
}

.cropped3 {
    width: 768px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 40%;
}

.cropped4 {
    width: 789px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 40%;
}

.cropped5 {
    width: 797px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 30%;
}

.cropped6 {
    width: 781px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    object-position: 20% 30%;
}

dl {
  margin: 0;
  padding: 24px 0 0 0;
}

dt {
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self:flex-start;
}




h1{
	font-size: 1rem;
	text-decoration: underline;
}


h5 {
	font-size: 3rem;
}

@media screen and (max-width: 900px){
	main{
		width: 90%;
	}
}
